NET "clk" TNM_NET = "clk_init";
NET "clk" LOC = U23;

NET "rst" LOC = A19;
NET "din"                      LOC = "J24";    ## 24  on U34 

NET "dout[0]"                 LOC = "AC22";   ## 2   on LED DS12, 1 on J62 
NET "dout[1]"                    LOC = "AC24";   ## 2   on LED DS11, 2 on J62 
NET "dout[2]"                    LOC = "AE22";   ## 2   on LED DS9,  3 on J62 
NET "dout[3]"                    LOC = "AE23";   ## 2   on LED DS10, 4 on J62 
NET "dout[4]"                    LOC = "AB23";   ## 2   on LED DS15, 5 on J62 
NET "dout[5]"                    LOC = "AG23";   ## 2   on LED DS14, 6 on J62 
NET "dout[6]"                    LOC = "AE24";   ## 2   on LED DS22, 7 on J62 
NET "dout[7]"                    LOC = "AD24";   ## 2   on LED DS21, 8 on J62 

NET "done"                    LOC = "AP24";   ## 2   on LED DS16 
NET "download"                    LOC = "AE21";   ## 2   on LED DS19 